{
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": ["*.html", "*.css"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
