@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.page {
  margin: 0;
  padding: 10% 0 0;
  /* display: flex; */
  /* align-content: center; */

  /* flex-direction: column; */
  /* justify-con=tent: center; */
  /* align-items: center; */
}

.page__container {
  max-width: 800px;
  max-height: 65vh;
  min-height: 30vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.page__title {
  margin: 0 auto 20px;
  font-family: "Inter", sans-serif;
}

.input-container {
  /*display: flex;*/
  /*justify-content: space-between;*/
  min-width: 80%;
  /*padding: 20px 0 20px;*/
  /*min-height: 30px;*/
}

.add-task-input {
  min-width: 75%;
  border: none;
  border-bottom: 2px solid #2255a7;
  padding: 4px;
  line-height: 20px;
}

.add-task-btn {
  min-height: 35px;
  width: 22%;
  border: none;
  background-color: #c3b9da;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 0;
  text-transform: uppercase;
}

.task-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

.task-list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 10px;
  height: 30px;
  align-items: center;
}

.delete-btn {
  border: none;
  background-color: transparent;
  background-image: url("./remove.svg");
  background-size: cover;
  width: 25px;
  height: 25px;
  /* height: 100%; */
}

input[type="checkbox"] {
  height: 18px;
  width: 18px;
  margin: 0;
}

.task {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-align: left;
  width: calc(100% - 70px);
}

.add-task-form {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  min-width: 80%;
  padding: 20px 0 20px;
  min-height: 30px;
}

.hover:hover {
  cursor: pointer;
}